@font-face {
    font-family: 'lobo';
    src: url('font/BMDOHYEON_ttf.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    background: black;
    font-family: 'lobo';
    color: white;

}

#container {
    width: 100%;
    margin: auto;
    float: left;
}

header {
    width: 100%;
    float: left;
    height: 20%;
}


#contents {
    width: 53%;
    height: 600px;
    float: left;
}


.icon {
    margin: none;
}

#search {
    width: 300px;
    height: 50px;
    background-color: black;
    border: 3px solid gold;
    border-radius: 0px;
    font-family: 'lobo';
}

.right {
    right: 40px;
}

.left {
    float: left;
}
.na {
    margin-top: 50px;
    color:khaki;
}

.number {
    margin-top: 50px;
}

.space {
    margin-top: 50px;
}

img {
    margin: 10px;
    margin-top: 20px;
    float: left;
}

span {
    float: left;
}

.listBox {
    overflow: auto;
    overflow-x: hidden;
    border: 5px solid #cc8042;
    border-radius: 0px;
    width: 100%;
    height: 95%;
    float: left;
    margin-left: 10px;
}

.listBox::-webkit-scrollbar {
    width: 10px;
}

.listBox::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.listBox::-webkit-scrollbar-track {
    display: none;
}

.textbox {
    overflow: auto;
    overflow-x: hidden;
    border: 5px solid #cc8042;
    border-radius: 0px;
    width: 45%;
    height: 570px;
    float: right;
    margin-right: 10px;
}

.listInner {
    position: relative;
    width: 99.5%;
    height: 150px;
    border: 3px solid #AB281E;
    border-radius: 0px;
    margin: 2px;
}

.A {
    border: 4px solid #AB281E;
    border-radius: 0px;
}

.W {
    border: 4px solid #7D2BEF;
    border-radius: 0px;
}

.H {
    border: 4px solid #e5ff00e9;
    border-radius: 0px;
}

.T {
    border: 4px solid rgb(0, 102, 255);
    border-radius: 0px;
}

.Z {
    border: 4px solid rgb(0, 240, 0);
    border-radius: 0px;
}

#footer {
    width: 100%;
    height: 100px;
    clear: left;
    text-align: center;
    margin: 0 auto;
}

.detail {
    clear: both;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    margin: 10px;
    text-align: center;
    width: 125px;
    height: 125px;
    background-color: black;
    border: 5px solid #cc8042;
    border-radius: 0px;
    font-size: 20px;
    font-family: 'lobo';
}

.detail:hover {
    color: black;
    background: #cc8042;
}

#imgcen {
    display: block;
    margin: auto;
}

#fA {
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    float: left;
    margin: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-family: 'lobo';
}

#fW {
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #7D2BEF;
    float: left;
    margin: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-family: 'lobo';
}
#fH {
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #e5ff00e9;
    float: left;
    margin: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-family: 'lobo';
}
#fT {
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 102, 255);
    float: left;
    margin: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-family: 'lobo';
}
#fZ {
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 240, 0);
    float: left;
    margin: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-family: 'lobo';
}

.textInner {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 1%;
}

.textInner > img {
    margin: 0px;
    margin-top: 0px;
    float: left;
}
.textInner > div {
    position: absolute;
    clear: left;
    width: 100%;
    margin-top: 10px;
}
.textInner > span {
    position: absolute;
    clear: both;
    margin-top: 10px;
}

.textbox::-webkit-scrollbar {
    width: 10px;
}

.textbox::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.textbox::-webkit-scrollbar-track {
    display: none;
}