@font-face {
    font-family: 'lobo';
    src: url('font/BMDOHYEON_ttf.ttf') format('truetype');
}
.na {
    margin-top: 50px;
    color:khaki;
}

.number {
    margin-top: 50px;
}

.space {
    margin-top: 50px;
}
